<h3>
   Edit Post
</h3>
<form class="form post-form">
<div class="mb-3">
  <label for="title" class="form-label">Post Title:</label>
  <textarea class="form-control" id="title" name="title" rows="3" data-value="{{id}}">{{title}}</textarea>
</div>


<div class="mb-3">
  <label for="desc" class="form-label">Content:</label>
  <textarea class="form-control" id="desc" name="desc" rows="3">{{content}}</textarea>
</div>

<div class="mb-3">
    <button type="submit" class="btn btn-primary">Submit Update</button>
</div>
</form>

<script src="/js/update.js"></script>